*.tfstate
*.tfplan
*.tfstate.backup
**/.terraform/*
*.terraform.lock.hcl
tfplan
*.hcl
.terraformrc
terraform.rc
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.jar
*.hcl
*.sh
*.xml
*.json
*.log
ssh/*
**/__pycache__/
*.pytest_cache

**/plan.tfplan
**/*.hcl
**kubeconfig_*
**.gz
**/metrics-server*


.DS_Store

**/__pycache__/*

.vscode
**/hugo/public/
keys/